{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "bootstrap/base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/style.css"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/reddit.css">

<script src="/static/js/d3.v3.js" charset="utf-8"></script>
<script src="/static/js/d3.layout.cloud.js" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="static/js/create_d3_wordcloud.js"></script>
<script src="static/js/create_pi_chart.js"></script>

<div class="se-pre-con" style="display:none"></div>
<center><br>
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
  <div class="row">
    <div class="col-md-12">
      {{utils.flashed_messages(messages)}}
    </div>
  </div>
  {%- endif %}
  {%- endwith %}
  <div class="jumbotron" style="width:90%; height:200px">
      <a href="https://docs.google.com/presentation/d/1xbS-hQqX4Kv0_OQExt4_hzgM2XhxnvHbdOmjeTnGD84/pub?start=false&loop=false&delayms=3000&slide=id.gc6f8badac_0_0">
	<img src="static/images/slideshare_logo.png" style="float:left; width:100px; margin-top:-20px">
      </a>
      <a href="https://github.com/theluxury/reddit-genie">
	 <img src="static/images/github_logo.png" style="float:left; width:100px; margin-top:40px; margin-left:-100px">
      </a>
      <a href="https://www.linkedin.com/in/markwang84">
	 <img src="static/images/linkedin_logo.png" style="float:left; width:100px; margin-top:100px; margin-left:-98px">
      </a>
      <h1 style="margin-right:100px; font-size:80px">reddit genie</h1>
      <img src="static/images/redditgenie.png" style="height: 200px; float:right; margin-top:-170px">
  </div>
  <div id="search" style="width:90%">

      <form action="rub" method="post">
        <fieldset class="clearfix">

          Find out about

          <input style="color:black" type="search" name="subreddit" placeholder="subreddit">

          users who talked about

          <input style="color:black" type="search" name="topic" placeholder="topic">

          during

          <input style="color:black" type="month" name="year_month">

          across all of reddit.

          <br><br><input type="submit" value="Rub the Lamp" class="button" onclick="myFunction()">

          <br><br><font color="#336699"><font color="#ff4500">Tip:</font> Subreddit input is case sensitive. Valid months range from October 2007 to June 2015.</font>

            </fieldset>

        </form>

      </div> <!-- end search -->  
  </div> <!-- end container -->
</center>
<div id="word-cloud" style="width:800px; height: 300px; margin:30px auto"></div>
<div id="bar-graff" style="width: 550px; height: 400px; margin:100px auto"></div>
<div style="text-align:center;">
<input type="button" class="btn btn-primary" style="margin-bottom:20px" onclick="location.href='{{link_url}}';" value="Show Top Comments" /><br>
<font color="#336699"><font color="#ff4500">Warning: </font>Beta. Response in raw JSON and only works for months before June 2014.</font>
</div>

<script type="text/javascript">

function myFunction() {
$(".se-pre-con").fadeIn("slow");
}

$(document).ready(function() {
   create_d3_wordcloud({{words|tojson}});
   create_pi_chart({{subreddits|tojson}}, "{{topic}}");
});

</script>
{% endblock %}
